.line-chart {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.graph{
    display: flex;    
}

.graph canvas{
    width: 800px;
    height: 400px;
}

