@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500&display=swap');
*{
    font-family: 'REM', sans-serif;
}

.ordertbl{
    margin-top: 100px;
}
.expbtn{
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    user-select: none;
}
.expbtn:hover{
    text-decoration: underline;
}